@use '@styles/base';

.pageWrapper {
  @include base.flex-row;
  padding: 5rem 2rem;
  gap: 2rem;

  .btnShowModal {
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 0.5rem;
    background-color: #1a73e8;

    &:active {
      background-color: #0c428a;
    }

    &:focus {
      box-shadow: 0 0 0 0.4rem rgb(49 132 253 / 50%);
    }
  }
}

@include base.max(xs, 87) {
  .pageWrapper {
    @include base.flex-col;
  }
}

// Attention modal context styles
.attnModal {
  width: 35rem;
  height: 15rem;
}

.attnModalBody {
  border: 0;
  padding: 0;
  background-color: inherit;
}

@include base.max(xs, -1) {
  .attnModal {
    width: 100vw;
    height: 100vh;
  }
}