@use '@styles/base';

.pageWrapper {
  @include base.flex-row;
  padding: 5rem 2rem;
  gap: 2rem;

  .btnShowModal {
    padding: 1rem 2rem;
    color: var(--app-white, #fff);
    border-radius: 0.5rem;
    background-color: var(--app-primary, #1a73e8);

    &:active {
      background-color: var(--app-primary-active, #0c428a);
    }

    &:focus {
      box-shadow: var(--app-focus);
    }
  }
}

@include base.max(xs, 87) {
  .pageWrapper {
    @include base.flex-col;
  }
}

// Context styles
.attnModal,
.nlModal {
  width: 35rem;
  height: 15rem;
}

.attnModalBody,
.nlModalBody {
  border: 0;
  padding: 0;
  background-color: inherit;
}

.nlModalBody {
  .emailIpnut {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    max-height: 4rem;
    border: 1px solid var(--app-border-color, #dcdcdc);

    &:focus-visible {
      outline: 0;
    }
  }
}

@include base.max(xs, -1) {
  .attnModal,
  .nlModal {
    width: 100vw;
    height: 100vh;
  }
}
